.old/*
__pycache__
utils/__pycache__
cache/*
index/*
temp/*
data/*
load/*
locks/*
config.user.yaml
symbols.user.txt
crypto.user.txt
dukascopy.db
etl/tests/*
config.user/*
flight/*
*.parquet
*.csv
*.pkl
*.pt
*.joblib